[package]

name = "nun-db"
version = "0.0.1"
authors = [ "Mateus Freira <mateus.freira@gmail.com>" ]
edition = "2018"

[dependencies]
tokio = "0.1.13"
futures = "0.3.1"
ws = "*"
env_logger = "*"
log = { version = "0.4.8", features = ["std"] }
rustc-serialize = "*"
bincode = "*"
serde = "*"
timer = "*"
chrono = "*"
thread-id = "*"
tiny_http = "*"
clap = "*"
reqwest = { version="*" , features = ["blocking"]}
signal-hook = "0.3.9"
atomic_float = "0.1.0"

[dev-dependencies]
tokio-test = "*"
assert_cmd = "0.10"
predicates = "1"
